.bg-img {
    filter: grayscale(50%);
    background-repeat: no-repeat;
    background-size: cover;
}
.nav-bar {
    display: block;
    opacity: 70%;
    background-color: black;
    width: 100%;
    min-height: 30px;
}
.nav-bar:hover {
    opacity: 100%;
}
.hover_inverse:hover {
    background-color: rgb(196, 196, 196);
    color: black;
}
.nav-item {
    display: inline-block;
    padding: 0.8%;
    text-decoration: none;
    color: white;
}
.middle_centre {
    position: absolute;
    top: 25%;
    left: 40%;
    text-align: center;
}
.black_block {
    position: absolute;
    padding: 0.8%;
    background-color: black;
    color: white;
}