body {
    font-family:"Amatic SC", sans-serif;
    font-size: 28px;
    background-color: #303030;
    color:white;
}
.nav-bar {
    display: block;
    opacity: 70%;
    background-color: black;
    width: 100%;
    min-height: 30px;
}
.nav-bar:hover {
    opacity: 100%;
}
.hover_inverse:hover {
    background-color: rgb(196, 196, 196);
    color: black;
}
.nav-item {
    display: inline-block;
    padding: 0.8%;
    text-decoration: none;
    color: white;
}
.middle_centre {
    position: absolute;
    top: 25%;
    left: 40%;
    text-align: center;
}
.gray_block {
    position: absolute;
    padding: 0.8%;
    background-color: #303030;
    color: white;
    opacity: 60%;
}
#login{
    position: fixed;
    left: 25%;
    top: 50%;
    transform: translate(-25%, -25%);
}
#register{
    position: fixed;
    left: 75%;
    top: 50%;
    transform: translate(-75%, -25%);
}
input[type=text], input[type=password]{
    display: inline-block;
    width: 50%;
}
label{
    display: inline-block;
    width:45%;
}
.centre{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: auto;
}
.menu>table{
    border: 1px solid aliceblue;
    border-collapse: collapse;
    border-radius: 1%;
    width: 100%;
}
th{
    padding: 4%;
    border: 1px solid aliceblue;
    border-collapse: collapse;
    border-radius: 1%;
}
td{
    padding: 4%;
}
.hide{
    display: none;
}